body{
    width: 100%;
	height: 100%;
    margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.enable-column{
	background-color: #3aeb34;
	border: 2px solid black;
	height: 150px;
}
.disable-column{
	background-color: red;
	border: 2px solid black;
	height: 150px;
}
.user-column{
	background-color: beige;
	border: 2px solid black;
	height: 500px;
}

#content{
	margin-top: 64px;
	border: 2px solid black;
	background-color: yellow;
}
#result-box{
	margin-left: 175px;
	border: 5px solid green;
	background-color: black;
	width: 250px;
	color: white;
	text-align: center;
}